div#banner {
	background-image: url(images/greentop-flowery.jpg);
	height: 216px;
}

body {
	background-image: url(images/greenbg.png);
	background-repeat: repeat-x;
	background-position: top;
	margin: 0px;
	background-color: #3ac034;
	font-family: "Century Gothic", "Helvetica", "MS Sans Serif", Geneva,
		sans-serif;
	text-align:center;
}

img {
	margin: 5px;
}

div#page-panel {
	width: 892px;
    margin: 0 auto;
    text-align:left;
}

div#menu {
	background-image: url(images/menubg.png);
	height: 32px;
	margin-top: 0;
}

/*
div#menu ul {
	display: none;
}
*/
div#banner * {
	display: none;
	margin-bottom: 0;
}

div#body,div#footer {
	padding-left: 25px;
	padding-right: 25px;
}

div#bottom {
	background-image: url(images/greenbottom.png);
	height: 36px;
}

div#body {
	background-image: url(images/greenmid.png);
	background-repeat: repeat-y;
	padding-top: 10px;
  min-height:400px;
  height:auto !important;
  height:400px;
}

div#footer {
	padding-bottom: 10px;
	color: white;
	font: 14px Helvetica, Tahoma, Arial;
	
}	

div#footer img.logo {
	float: right;
	margin: 2px;
}	

 div.right-bar {
	float: right;
	
}	

div#post-banner,div#post-menu {
	clear: both;
	margin: 0;
	height: 0;
	padding: 0;
}

h1 {
	font-family: "Century Gothic", "Helvetica", "MS Sans Serif", Geneva,
		sans-serif;
}

h2,h3,h4,h5,h6 {
	font-family: "Century Gothic", "MS Sans Serif", Geneva, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #429466;
	font-weight: normal;
	margin: 5px;
}

h1 {
	font-size: 1.4em;
}

h3.music {
	padding: 5px 10px;
	width: 810px;
	background-color: #e49148;
	color: white;
}

h3.photo {
	padding: 5px 10px;
	width: 810px;
	background-color: #9148e4;
	color: white;
}

h3.dance {
	padding: 5px 10px;
	width: 810px;
	background-color: #48e491;
	color: black;
}

h3.theatre {
	padding: 5px 10px;
	width: 810px;
	background-color: #e4484d;
	color: white;
}

h3.art {
	padding: 5px 10px;
	width: 810px;
	background-color: #48e4df;
	color: black;
}

h3.spoken {
	padding: 5px 10px;
	width: 810px;
	background-color: #E4DF48;
	color: black;
}

p,ol,ul,li {
	font-size: 1.0em;
}

#jsddm {
	margin: 0;
	padding-left: 15px;
	padding-top: 1px;
}

#jsddm li {
	float: left;
	list-style: none;
	font: 12px Helvetica, Tahoma, Arial;
	padding-top: 3px;
	
}

#jsddm li.parent {
	list-style-image: url(images/downarrow.png);
	list-style-position: inside;
}

/* #3ac034 = lt green */
/* 09b000 = saturated green */
#jsddm li a {
	display: block;
	background: #09b000;
	padding: 5px 12px;
	text-decoration: none;
	border-right: 1px solid white;
	width: 70px;
	color: #EAFFED;
	white-space: nowrap
}

#jsddm li a.last {
	border-right: none;
}
	
#jsddm li a.wide {
	width: 85px;
}
#jsddm li a:hover {
	background: #3ac034
}

#jsddm li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white
}

#jsddm li ul li {
	float: none;
	display: inline
}

#jsddm li ul li a {
	width: auto;
	background: #3ac034
}

#jsddm li ul li a:hover {
	background: #09b000
}