div#banner {
	background-image: url(images/banner.jpg);
	height: 180px;
}

body {
	background-image: url(images/greenbg.png);
	background-repeat: repeat-x;
	background-position: top;
	background-color: #3ac034;
	font-family: "Times New Roman", "Helvetica", "Century Gothic", "MS Sans Serif", Geneva,
		sans-serif;
	text-align:center;
	margin: 0px;
	font-size: 13pt;
	padding: 0px; 
}

img {
	margin: 5px;
}


div#page-panel {
	width: 892px;
    margin: 0 auto;
    text-align:left;
}

div#menu {
	background-image: url(images/menubg.png);
	height: 32px;
	margin-top: 0;
	margin-bottom: 0;
}

/*
div#menu ul {
	display: none;
}
*/
div#banner * {
	display: none;
	margin-bottom: 0;
}

div#body,div#footer {
	padding-left: 25px;
	padding-right: 25px;
}

div#bottom {
	background-image: url(images/greenbottom.png);
	height: 36px;
}

div#body {
	background-image: url(images/greenmid.png);
	background-repeat: repeat-y;
	padding-top: 10px;
  min-height:400px;
  height:auto !important;
  height:400px;
}

div#footer {
	padding-bottom: 10px;
	color: white;
	font: 14px Helvetica, Tahoma, Arial;
	
}	

div#footer img.logo {
	float: right;
	margin: 2px;
}	

 div.right-bar {
	float: right;
	
}	

div#post-banner,div#post-menu,div#post-body {
	clear: both;
	margin: 0;
	height: 0;
	padding: 0;
}

h1 {
	font-family: "Century Gothic", "Helvetica", "MS Sans Serif", Geneva,
		sans-serif;
	font-variant: small-caps;
}

h2,h3,h4,h5,h6 {
	font-family: "Century Gothic", "MS Sans Serif", Geneva, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #429466;
	font-weight: normal;
	margin: 5px 10px 5px 0px; 
/*	margin: 5px;*/
}

h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1.5em;
    padding: 3px 0 5px 0;
}
h3 {
	font-size: 1.3em;
	padding: 3px 0 5px 0;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1.0em;
}

h4.music {
	padding: 3px 10px;
	width: 810px;
	background-color: #e49148;
	color: white;
}

h4.photo {
	padding: 3px 10px;
	width: 810px;
	background-color: #9148e4;
	color: white;
}

h4.dance {
	padding: 3px 10px;
	width: 810px;
	background-color: #48e491;
	color: black;
}

h4.theatre {
	padding: 3px 10px;
	width: 810px;
	background-color: #e4484d;
	color: white;
}

h4.art {
	padding: 3px 10px;
	width: 810px;
	background-color: #99ffff;
	color: black;
}

h4.spoken {
	padding: 3px 10px;
	width: 810px;
	background-color: #E4DF48;
	color: black;
}

p,ol,ul,li {
	font-size: 1.0em;
}


li {
	list-style-type: circle;
}

table.two-column td {
	vertical-align: top;
}

table.two-column {
	
    margin: 0 auto;
}
table.two-column td {
	margin-left: 10px;
	width: 30%;
}

#jsddm {
	margin: 0;
	padding-left: 15px;
	padding-top: 1px;
}

#jsddm li {
	float: left;
	list-style: none;
	font: 12px Helvetica, Tahoma, Arial;
	padding-top: 3px;
	
}

#jsddm li.parent {
	list-style-image: url(images/downarrow.png);
	list-style-position: inside;
}

/* #3ac034 = lt green */
/* 09b000 = saturated green */
#jsddm li a {
	display: block;
	background: #09b000;
	padding: 5px 12px;
	text-decoration: none;
	border-right: 1px solid white;
	/*width: 70px;*/
	color: #EAFFED;
	white-space: nowrap
}

#jsddm li a.last {
	border-right: none;
}
	
#jsddm li a.wide {
	width: 85px;
}
#jsddm li a:hover {
	background: #3ac034
}

#jsddm li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white
}

#jsddm li ul li {
	float: none;
	display: inline
}

#jsddm li ul li a {
	width: auto;
	background: #3ac034
}

#jsddm li ul li a:hover {
	background: #09b000
}


#editable_content_link {
	background-color: #ccc;
}

#editable_content_link a {
	color: #333;
}

form.page_editor textarea {
	width: 99%;
	height: 400px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: sans-serif;
	margin: 5px;		
}

table#newsflash {
	width: 558px;
	margin: 0;
	
}


#newsflash td{
	padding-left: 50px;
	width: 558px;
	background-image: url(images/flash-mid.jpg);
	margin: 0;
	padding-bottom: 0;
}

#newsflash td.first{
	background-image: url(images/flash-top.jpg);
	width: 558px;
	height: 44px;
	margin: 0;
}

#newsflash td.last{
	background-image: url(images/flash-bottom.jpg);
	width: 558px;
	height: 33px;
	margin: 0;
	
}

p {
	margin-top: 5px;
	margin-bottom: 0;
}

#oldversions {
	display: none;
	border: 2px solid black;
	background-color: white;
}

